@model Project.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new Project.DAL.PROEntities();
}

<style>
   /* img {
        width: 100%;
        height: 100%;
    }
*/
    .itemImage {
        /*float: left;*/
        margin: 3px;
        padding: 3px;
        width: 400px;
        height: 300px;
    }
</style>
<div class="main-content">
    <!--=================================
    Custom -->
    <section class="white-bg">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-12">
                    <a href="@Url.Action("ViewProject", "Home", new {Id=1, Area = ""})">
                        <div class="iq-feature4 text-center iq-font-white iq-ptb-60 iq-pl-50 iq-pr-50 iq-over-black-80">
                            <div class="content-blog">
                                <i class="ion-ios-home-outline iq-font-white"></i>
                                <h4 class="iq-font-green iq-tw-6 iq-mt-20 iq-mb-10">Construction Projects</h4>
                                @*<p class="text-gray">Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>*@
                            </div>
                            <div class="feature-img" style="background-image: url('/Content/Frontend/images/feature/cont.png')"></div>
                        </div>
                        </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="@Url.Action("ViewProject", "Home", new {Id=2, Area = ""})">
                        <div class="iq-feature4 text-center iq-font-white iq-ptb-60 iq-pl-50 iq-pr-50 iq-over-green-80">
                            <div class="content-blog">
                                <i class="ion-ios-compose-outline iq-font-white"></i>
                                <h4 class="iq-font-white iq-tw-6 iq-mt-20 iq-mb-10">Renovation Projects</h4>
                                @*<p class="text-gray">Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>*@
                            </div>
                            <div class="feature-img" style="background-image: url('/Content/Frontend/images/feature/renovation.jpg')"></div>
                        </div>
                        </a>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <a href="@Url.Action("ViewProject", "Home", new {Id=3, Area = ""})">
                        <div class="iq-feature4 text-center iq-font-white iq-ptb-60 iq-pl-50 iq-pr-50 iq-over-black-80">
                            <div class="content-blog">
                                <i class="ion-ios-help-outline iq-font-white"></i>
                                <h4 class="iq-font-green iq-tw-6 iq-mt-20 iq-mb-10">Supply Projects</h4>
                                @*<p class="text-gray">Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>*@
                            </div>
                            <div class="feature-img" style="background-image: url('/Content/Frontend/images/feature/supply.jpg')"></div>
                        </div>
                        </a>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Custom  -->
    <!--=================================
    Who We are -->
    <section class="overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title text-center">
                        <h2 class="title iq-tw-6">Who We are</h2>
                        <p>The Universal Basic Education (UBE) Programme is a nine (9) year basic educational programme, which was launched and executed by the government and people of the Federal Republic of Nigeria to eradicate illiteracy, ignorance and poverty as well as stimulate and accelerate national development, political consciousness and national integration. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img class="img-fluid" src="/Content/Frontend/revolution/assets/EduIcon.png" alt="#">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <p class="iq-mtb-20">Ensuring an uninterrupted access to 9-year formal education by providing FREE, and COMPULSORY basic education for every child of school-going age under. </p>
                    <p class="iq-mtb-20">Six years of Primary Education Three years of Junior Secondary Education Providing Early Childhood Care Development and Education (ECCDE) </p>
                    <ul class="listing-mark iq-mtb-30 iq-tw-6 iq-font-black">
                        <li>The Federal Government's intervention shall provide assistance to the States and Local Governments in Nigeria for the purposes of uniform and qualitative basic education throughout Nigeria. </li>
                        <li>Every Government in Nigeria shall provide free, compulsory and universal basic education for every child of primary and junior secondary school age. </li>
                        
                    </ul>
                   
                    <a class="button" href="#" role="button">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!--=================================
    Who We are-->
    <!--=================================

    <!--================================
    Our Projects -->
    <section class="overview-block-pt iq-pb-60 iq-over-green-80 iq-bg jarallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-title text-center">
                        <h2 class="title iq-tw-6 iq-font-white black">Recent Project</h2>
                        <div class=" iq-font-white"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row iq-mt-40">
                <div class="col-sm-12">
                    <div class="owl-carousel arrow-4" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="4" data-items-laptop="4" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                        @foreach (var i in Model.inspectionlist)
                        {
                            var getphoto = i.DocumentInfo.ToList();
                            foreach (var p in getphoto)
                            {
                                <div class="item">
                                    <div>
                                        <a href="portfolio-single-1.html">                                          
                                            <img class="img-fluid wd-full itemImage" src="@Url.Action("DocumentsUploadedPath", new { Path = (Model.PicturePath) + p.Path }) " />
                                        </a>
                                        <h6 class="iq-font-white iq-tw-5 iq-mt-15">@p.DocumentType.Name</h6>

                                    </div>
                                </div>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================
    Our Projects -->
    <!--=================================

    <!--=================================
    Blog -->
    <section class="iq-blog overview-block-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="heading-title text-center">
                        <h2 class="title iq-tw-6">Recent News</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                @foreach(var n in Model.NewsList)
    {

                <div class="col-lg-4 col-md-12">
                    <div class="iq-blog-entry white-bg">
                        <div class="iq-entry-image clearfix">
                            <a href="@Url.Action("ViewNews", "Home", new {Id=n.Id, Area = ""})">
                                <img src="@Url.Action("DocumentsUploadedPath", new { Path = (Model.PicturePath) + n.Photo }) " /></a>
                                <span class="tag"><i class="ion-image"></i>Photos</span>
                                @*<span class="date">@n.CreatedDate.AddDays()<small>Aug</small></span>*@

                        </div>
                        <div class="iq-blog-detail">                           
                            <div class="iq-entry-content">
                                <a href="@Url.Action("ViewNews", "Home", new {Id=n.Id, Area = ""})"><p>@n.NewsHeadline</p></a>
                            </div>
                            <ul class="iq-entry-meta iq-mt-10">

                                @*<li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @n.NoOfView View(s)</a></li>
                                <li><a href="#"></a></li>*@
                                <li class="pull-right"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>Date @n.CreatedDate.ToShortDateString()</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
   }
            </div>
        </div>
    </section>
    <!--=================================
    Blog -->
</div>