@model Project.Areas.Admin.Models.SupplyViewModel
@using Project.HtmlHelpers;
@{
    ViewBag.IsGreetings = "true";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Supply Items";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li><i class="icon-home"></i><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">Dashboard</a> </li>
            <li class="current"><a title="" href="javascript: return void(0)">Supply Items</a> </li>
        </ul>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Supply Information
                </h4>


            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered table-hover table-checkable datatable dataTable">
                    <thead>
                        <tr>

                            <th>SN</th>
                            <th>
                                Location
                            </th>
                            <th>
                                State
                            </th>
                            <th>
                                LGA
                            </th>
                            <th>
                                Contractor
                            </th>
                            <th>
                                Verification Date
                            </th>
                            <th>
                                Verification Officer
                            </th>
                            <th>
                                Coordinate
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Supply != null)
                        {


                            {

                                <tr>
                                    <td>
                                        1
                                    </td>
                                    <td>
                                        @Model.Supply.Location
                                    </td>
                                    <td>
                                        @Model.Supply.LGA.State.Name

                                    </td>

                                    <td>
                                        @Model.Supply.LGA.Name
                                    </td>
                                    <td>
                                        @Model.Supply.Contractor.Name
                                    </td>
                                    <td>
                                        @Model.Supply.VerificationDate
                                    </td>
                                    <td>
                                        @Model.Supply.VerificationOfficer
                                    </td>
                                    <td>
                                        @Model.Supply.Coordinate
                                    </td>


                                    <td>
                                        <a data-toggle="modal" title="Supply Information" href="#@Model.Supply.Id"><i class="icon-eye-open"></i></a>

                                        <div class="row">



                                            <div class="modal fade" id="@Model.Supply.Id">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title">Supply Information</h4>

                                                        </div>
                                                        <div class="modal-body">

                                                            <table class="my-acct">
                                                                <tr>
                                                                    <td>Location: </td>
                                                                    <td>
                                                                        @Model.Supply.Location


                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>State</td>
                                                                    <td>
                                                                        @Model.Supply.LGA.Name

                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Contractor</td>
                                                                    <td>

                                                                        @Model.Supply.Contractor.Name

                                                                    </td>
                                                                </tr>


                                                                <tr>
                                                                    <td>Verification Date</td>
                                                                    <td>@Model.Supply.VerificationDate</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Verification Officer</td>
                                                                    <td>@Model.Supply.VerificationOfficer</td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Representative</td>
                                                                    <td>

                                                                        @Model.Supply.Representative
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Representative Desgination</td>
                                                                    <td>


                                                                        @Model.Supply.RepresentativeDesignation
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Representation Mobile Number</td>
                                                                    <td>

                                                                        @Model.Supply.RepresentativePhoneNumber
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Modified By</td>
                                                                    <td>

                                                                        @Model.Supply.ModifiedBy
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td>Modified Date</td>
                                                                    <td>

                                                                        @Model.Supply.Modified
                                                                    </td>
                                                                </tr>

                                                            </table>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </td>
                                </tr>

                            }


                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<a href="@Url.Action("Index", "SupplyManagement", new {area="Admin"})" class="btn btn-xs btn-warning">Back</a>
@Html.ActionLink("New Item", "NewItems", new { Id = Model.Supply.TransactionId }, new { @class = "btn btn-xs btn-primary" })
<br />
<br />

<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Items List
                </h4>


            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th>S/N</th>
                            <th>Serial No</th>
                            <th>Description</th>
                            <th>Quantity Ordered</th>
                            <th>Quantity Delivered</th>
                            <th>Remarks</th>                            
                            <th>Modified By</th>
                            <th>Modified Date</th>
                            <th>Action</th>


                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.SupplyItemList.Count != 0)
                        {
                            int i = 0;
                            foreach (var item in Model.SupplyItemList)
                            {
                                ++i;
                                <tr style="font-size: 12px;">
                                    <td>
                                        @i
                                    </td>
                                    <td>
                                        @item.SerialNumber
                                    </td>

                                    <td>@item.Description</td>
                                    <td>@item.QuantityOrdered</td>
                                    <td>@item.QuantityDelivered</td>
                                   
                                    
                                    <td>
                                       @item.Remarks


                                    </td>
                                    <td>@item.ModifiedBy</td>
                                    <td>@item.Modified</td>
                                    <td>
                                        <div class="dropdown">
                                            <span class="btn dropdown-toggle btn-xs btn-success" type="button" id="dropdownMenu1" data-toggle="dropdown">Action List <i class="icon-angle-down"></i></span>
                                            <ul class="dropdown-menu  pull-right" role="menu" aria-labelledby="dropdownMenu1">

                                                <li role="presentation">
                                                    @Html.ActionLink("Details", "Detail", new { Id = item.Id }, new { role = "menuitem", tabindex = "-1" })
                                                </li>
                                                <li role="presentation">
                                                    @Html.ActionLink("Edit Items", "EditItem", new { Id = item.Id }, new { role = "menuitem", tabindex = "-1" })
                                                </li>
                                                <li role="presentation">
                                                    
                                                    @Html.ActionLink("Remove Item", "RemoveItem", new { Id = item.Id, DId = item.Id }, new { role = "menuitem", tabindex = "-1", onclick = "return DeleteConfirm()" })
                                                </li>
                                            </ul>
                                        </div>

                                    </td>


                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">No Records Found!...</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

@section Scripts{

    <script>
        "use strict";

        function DeleteConfirm() {
            if (confirm("Are you sure want to remove this item?"))
                return true;
            else
                return false;
        }
    </script>
}