@model Project.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>

        </ul>
    </div>
}
<a href="@Url.Action("Index", "Project", new {Id=1, area="Admin"})" class="btn btn-success btn-xs">Construction </a>
<a href="@Url.Action("Index", "Project", new {Id=2, area="Admin"})" class="btn btn-danger btn-xs">Renovation  </a>
<a href="@Url.Action("Index", "Project", new {Id=3, area="Admin"})" class="btn btn-warning btn-xs">Supply </a>
<br />
<br />

<div class="row row-bg">
    <div class="col-sm-6 col-md-3">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual green"><i class="icon-building"></i></div>
                <div class="title">Total Construction</div>
                <div class="value">@Model.TotalConstruction</div>
                <a class="more" href="@Url.Action("Index", "Project", new {Id=1, area="Admin"})">View More <i class="pull-right icon-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual green"><i class="icon-road"></i></div>
                <div class="title">Renovation</div>
                <div class="value">@Model.TotalRenovation</div>
                <a class="more" href="@Url.Action("Index", "Project", new {Id=2, area="Admin"})">View More <i class="pull-right icon-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual yellow"><i class="icon-dollar"></i></div>
                <div class="title">Supply</div>
                <div class="value">@Model.TotalSupply</div>
                <a class="more" href="@Url.Action("Index", "Project", new {Id=3, area="Admin"})">View More <i class="pull-right icon-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual red"><i class="icon-user"></i></div>
                <div class="title">Total Project</div>
                <div class="value">@Model.TotalProject</div>
                <a class="more" href="javascript:void(0);">View More <i class="pull-right icon-angle-right"></i></a>
            </div>
        </div>
    </div>
</div>