<nav id="menu-1" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <!-- menu logo -->
                    <ul class="menu-logo">
                        <li>
                            <a href="/">
                                <img id="logo_img" src="~/Content/logo1.png" alt="logo">
                            </a>
                        </li>
                    </ul>
                    <ul class="menu-sidebar pull-right">
                       
                        <li class="shop-cart">
                            <div class="iq-pos-r">
                              
                            </div>
                        </li>
                        <li class="iq-share">
                            <div class="slideouticons">
                                <input type="checkbox" id="togglebox" />
                                <label for="togglebox" class="mainlabel"><i class="fa fa-share-alt"></i></label>
                                <div class="iconswrapper">
                                    <ul>
                                        <li><a href="https://web.facebook.com/ubecabuja.ubec.5" target="_blank"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                                        <li><a href="https://twitter.com/UBECnigeria" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>                                        
                                        <li><a href="https://www.instagram.com/ubec.nigeria/" target="_blank"><i class="fa fa-instagram" title="Pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- menu links -->
                    <ul class="menu-links">
                        <!-- active class -->
                        <li class="active">
                            <a href="/">Home</a>

                        </li>
                        <li>
                            <a href="@Url.Action("About", "Home", new {area=""})">About</a>
                            
                        </li>
                        <li>
                            <a href="@Url.Action("ProjectType", "Home", new { Area = ""})">Projects</a>
                            <!-- drop down multilevel  -->
                            <ul class="drop-down-multilevel">
                                <li><a href="@Url.Action("ViewProject", "Home", new {Id=1, Area = ""})">Construction</a></li>
                                <li><a href="@Url.Action("ViewProject", "Home", new {Id=2, Area = ""})">Renovation</a></li>
                                <li><a href="@Url.Action("ViewProject", "Home", new {Id=3, Area = ""})">Supply</a></li>
                            </ul>
                        </li>
                        <li>                            
                            <a href="@Url.Action("MoreNews", "Home", new { Area = ""})">News</a>

                        </li>
                        <li>
                            <a href="@Url.Action("Contact", "Home", new { Area = ""})">Contact Us</a>

                        </li>


                       

                    </ul>
                </div>
            </div>
        </div>
    </section>
</nav>